.icon_section {
    .icon_worp {
        text-align: center;
        border: 2px solid #f2f2f2;
        margin: 40px 0 80px 0;
        padding: 50px;
        .img_he {
            min-height: 75px;
        }
        .h_icon {
            margin: 45px 0 30px;
            text-transform: capitalize;
            letter-spacing: -1.5px;
            font-size: 20px;
            font-family: 'Poppins', sans-serif;
            text-transform: uppercase;
            color: #3f3f3f;
        }
        .pra_icon {
            
            font-family: 'Poppins', sans-serif;
            margin: 0 auto 12px;
        }
        .icon_span {
            font-size: 22px;
            color: #756aff;
            text-transform: capitalize;
            a {
                text-decoration: none;
                font-size: 16px;
                font-family: 'Poppins', sans-serif;
                .fa-long-arrow-right {
                margin-left: 10px;
                transition: all 0.5s;
                padding-right: -20px;
                }
                &:hover {
                    
                    .fa-long-arrow-right {
                    padding-left: 10px;
                    margin-right: -10px;
                
                    }
                
                }
            }
            
        }
    }
}